NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDU9TRAY_Vh7wSN4f5F1ZIzw6xNyX-SbYQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=jaeseung-try-2-34973152-e44aa.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=jaeseung-try-2-34973152-e44aa
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=jaeseung-try-2-34973152-e44aa.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=385012475164
NEXT_PUBLIC_FIREBASE_APP_ID=1:385012475164:web:a09491f1654c6e1ac486d9
NEXT_PUBLIC_AUTH_API_BASE_URL=https://reset-edu-kakao-auth.cfv47.workers.dev
NEXT_PUBLIC_APP_ORIGIN=https://zzang1.pages.dev

# Firebase Functions runtime env
OPENAI_API_KEY=your_openai_api_key
NEXT_PUBLIC_TOSS_CONFIRM_URL=https://asia-northeast3-jaeseung-try-2-34973152-e44aa.cloudfunctions.net/confirmPayment
